body {
    background-color: #d87fd8;
}
#habs {
    background-color: hsl(300, 87%, 33%);
}
p, li, h2 {
    font-family: monospace;
}
#nome {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.softSkills {
    font-size: 110%;
    text-align: center;
}
.tecnicas {
    font-size: 130%;
    text-align: center;
}
